@import url('https://fonts.googleapis.com/css2? family = Baloo + Da + 2: wght @ 400; 500; 600; 700; 800; 800 & family = Josefin + Slab: ital, wght @ 0,300; 0,400; 0,500; 0,600; 0,700; 1,200; 1,300; 1,400; 1,500; 1,600; 1,700 & família = Mulish: ital, peso @ 0,300; 0,400; 0,500; 0,600; 0,700; 0,800; 1,300; 1,400; 1,500; 1,600; 1.700; 1.800 & display = swap ');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css');

*{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

header {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.img-wrapper{
    width: 99vw;
    height: 100%;
    overflow: hidden;
    background-color: #000;
}

.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    animation: zoom 25s;
}

@keyframes zoom {
    0%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}

.baner{
    position: absolute;
    top: 30%;
    left: 15%;
}

.baner h1{
    color: #ffffff;
    font-size: 2em;
    font-family: "Baloo Da 2", serif;
    font-weight: 200;
    text-shadow: .3rem, .4rem 2px rgba(0, 0, 0, .4);
    line-height: 3.5rem;
    margin-bottom: 2rem;
    opacity: 0;
    animation: moveBaner 1s 0.5s forwards;
}

.baner p {
    font-family: "Josefin Slab", serif;
    color: #fff;
    font-size: 1.5em;
    text-shadow: .2rem, .2rem rgba(0, 0, 0, .4);
    margin-bottom: 2rem;
    opacity: 0;
    animation: moveBaner 1s 0.7s forwards;
}

.baner button{
    font-family: "Muli", serif;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .1rem;
    background: #4b4b4b;
    background: -webkit-linear-gradient(to right, #4b4b4b);  
    background: linear-gradient(to right, #4b4b4b, #000000);
    padding: 1rem 3rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
    animation: moveBaner 1s 0.9s forwards;
}

@keyframes moveBaner {
    0%{
        transform: translateY(10rem) rotateY(-30deg); 
    }
    100%{
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}

.baner button:hover {
    opacity: 0.8;
    color: #000;
}

.social-media {
    /*background-color: rgba(255, 0, 0, .5);*/
    position: absolute;
    bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.social-media i {
    background-color: #000000;
    color: rgba(255, 255, 255, 1);
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 0.2s;
}

.social-media i:hover {
    background-color: #4b4b4b;
}

.conhecimentos {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(6, 7.5rem);
    row-gap: .5rem;
}

.conhecimento:nth-child(1) {
    grid-column: 4 / 7;
    grid-row: 1 / 3;
}

.conhecimento:nth-child(2) {
    grid-column: 2 / 5;
    grid-row: 4 / 5;
}

.conhecimento:nth-child(3) {
    grid-column: 4 / 7;
    grid-row: 7 / -1;
}

.conhecimento:nth-child(4) {
    grid-column: 11 / 14;
    grid-row: 1 / 3;
}

.conhecimento:nth-child(5) {
    grid-column: 13 / 17;
    grid-row: 4 / 5;
}

.conhecimento:nth-child(6) {
    grid-column: 11 / 14;
    grid-row: 7 / -1;
}

.sessao-conhecimentos {
    position: relative;
    top: 5em;
    background-color: #fff;
    height: 120vh;
}

.sessao-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sessao-header h1 {
    position: relative;
    font-family: "Baloo Da 2", serif;
    font-size: 4vw;
    color: #ffffff;
    -webkit-text-stroke: 0.1vw #383d52;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

@keyframes animate {

    0%,10%,100%{
        width: 0;
    } 
    70%,90% {
        width: 100%;
    }
}

.conhecimento-header {
    display: flex;
    align-items: center;
    color: #4b4b4b;
}

.conhecimento-header i {
    font-size: 2.5rem;
}

.conhecimento-header h3 {
    font-family:"Josefin Slab, serif";
    font-size: 1.5rem;
    padding-left: 1rem;
}

.conhecimento-text {
    font-family: "Josefin Slab", serif;
    color: #000;
    margin-top: 1rem;
}

.conhecimento-img-wrapper { 
    
    grid-column: 7 / 11;
    grid-row: 3 / 6;
    width: 100%;
}

.conhecimento-img-wrapper img{
    border-radius: 20px;
    object-fit: cover;
    width: 100%;
}

.sessao-projetos {
    position: relative;
    top: 20em;
}

.projetos {
    display: flex;
    justify-content: space-evenly;
}

.card {
    width: 18em;
    height: 25em;
    position: relative;
}

.card-img-wrapper {
    width: 100%;
    height: 100%;
    background-color: #4b4b4b;
    border-radius: 1rem;
}

.card-img-wrapper img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    opacity: .8;
    transition: opacity .3s;
}

.card:hover .card-img-wrapper img {
    opacity: .5;
}

.card-info {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    bottom: 0;
    padding: 2rem;
    text-shadow: 0 0.2rem 0.3rem #000000;
    transition: all .3s;
}

.card-info h2 {
    font-family: "Josefin Slab", serif;
    font-size: 2rem;
    font-weight: 500;
    color: #fff;
    margin-bottom: 2rem;
}

.card-info p{
    font-family: "Baloo Da 2", serif;
    color: #141111;
    margin-bottom: 2rem;
}

.card-info button {
        font-family: "Muli", serif;
        font-size: .5rem;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: .1rem;
        background: #4b4b4b;
        background: -webkit-linear-gradient(to right, #4b4b4b);  
        background: linear-gradient(to right, #4b4b4b, #000000);
        width: 8rem;
        height: 2.5rem;
        margin-bottom: 1.5rem;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        opacity: 0;
        animation: moveBaner 1s 0.9s forwards;
}



.card-info button:hover {
    color: #000;
}

.card:hover .card-info{
    bottom: 2rem;
    opacity: 1;
    visibility: visible;
}

.sessao-contatos {
    position: relative;
    top: 50em;
}

.whatsapp {
    background: white;
    border-radius: 50px;
}
.whatsapp:hover {
    background-color: rgb(26, 83, 44);
}
.instagram {
    background-color: white;
    border-radius: 25px;
}
.instagram:hover {
    background-color: rgb(104, 24, 104);
}
.github {
    background-color: white;
    border-radius: 50px;
}
.github:hover {
    background-color: rgb(44, 44, 44);
}
.linkedin {
    background-color: white;
    border-radius: 20px;
}
.linkedin:hover {
    background-color: rgb(35, 102, 129);
}

footer {
    display: flex;
    justify-content: center;
    background-color: #000;
}

.p-footer {
    position: relative;
    top: 50em;
}

.container {
    display: inline-flex;
}

.estatico {
    color: #fff;
    font-size: 25px;
}

.dinamico {
    margin-left: 10px;
}

.dinamico  li {
    color: #fc6d6d;
    list-style: none;
    font-size: 25px;
}

.dinamico li span::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    border-left: 2px solid #fc6d6d;
    animation: typing 2s steps(15) infinite;
    background-color: #000;
    overflow: hidden;
    
}
.dinamico li {
    position: relative;
}

@keyframes typing {
    100% {
        left: 60%;
        margin: 0 -20px 0 20 px;
    }
}
 
.icons-contato {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
     cursor: pointer;
}
@media (max-width: 1000px) {
 
    .img-wrapper{
        width: 126vw;
        height: 100%;
        overflow: hidden;
        background-color: #000;
    }

    .sessao-conhecimentos {
        background-color: #fff;
        height: 200vh;
    }

    .conhecimento-header {
        display: flex;
        align-items: center;
        color: #4b4b4b;
    }

    .conhecimento-text {
        font-family: 'Times New Roman', Times, serif;
        font-weight: 500;
        color: #000;
        margin-top: 1rem;
        font-size: 10px;
    }

    .conhecimentos {
        display: grid;
        grid-template-columns: repeat(16, 1fr);
        grid-template-rows: repeat(6, 7.5rem);
        row-gap: .5rem;
    }
    
    .conhecimento:nth-child(1) {
        grid-column: 2 / 8;
        grid-row: 6 / 3;
    }
    
    .conhecimento:nth-child(2) {
        grid-column: 2 / 8;
        grid-row: 8 / 5;
    }
    
    .conhecimento:nth-child(3) {
        grid-column: 2 / 8;
        grid-row: 8 /-1;
    }
    
    .conhecimento:nth-child(4) {
        grid-column: 11 / 18;
        grid-row: 5 / 3;
    }
    
    .conhecimento:nth-child(5) {
        grid-column: 11 / 17;
        grid-row: 5 / 6;
    }
    
    .conhecimento:nth-child(6) {
        grid-column: 11 / 18;
        grid-row: 7 / -1;
    }

    .conhecimento-img-wrapper { 
    
        grid-column: 6 / 15;
        grid-row: 1 / 6;
        width: 100%;
    }

    .sessao-projetos {
        height: 115vh;
    }

    .card-info p{
        font-family: "Baloo Da 2", serif;
        color: #141111;
        margin-bottom: 1rem;
        font-size: 9px;
    }

    .card-info {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: -10px;
        padding: 1rem;
        text-shadow: 0 0.2rem 0.3rem #000000;
        transition: all .3s;
    }
    
    .card-info h2 {
        font-family: "Josefin Slab", serif;
        font-size: 1rem;
        font-weight: 500;
        color: #fff;
        margin-bottom: 2rem;
    }
    
    .card-img-wrapper {
        width: 80%;
        height: 50%;
        background-color: #4b4b4b;
        border-radius: 1rem;
        margin-left: 15px;
    }
    
    .card-img-wrapper img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 1rem;
        opacity: .8;
        transition: opacity .3s;
    }

    .card-info button {
        font-family: "Muli", serif;
        font-size: .5rem;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: .2rem;
        background: #4b4b4b;
        background: -webkit-linear-gradient(to right, #e2e2e2);  
        background: linear-gradient(to right, #afafaf, #000000);
        width: 6rem;
        height: 2.5rem;
        margin-bottom: 2rem;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        opacity: 0;
        animation: moveBaner 1s 0.9s forwards;
}

.baner{
    position: absolute;
    top: 6%;
    left: 6%;
}

.baner h1{
    color: #ffffff;
    font-size: 1.2em;
    font-family: "Baloo Da 2", serif;
    font-weight: 200;
    text-shadow: .3rem, .4rem 2px rgba(0, 0, 0, .4);
    line-height: 3.5rem;
    margin-bottom: 2rem;
    opacity: 0;
    animation: moveBaner 1s 0.5s forwards;
}

.baner p {
    font-family: "Josefin Slab", serif;
    color: #fff;
    font-size: 1em;
    text-shadow: .2rem, .2rem rgba(0, 0, 0, .4);
    margin-bottom: 2rem;
    opacity: 0;
    animation: moveBaner 1s 0.7s forwards;
}

.baner button{
    font-family: "Muli", serif;
    font-size: .5em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .1rem;
    background: #4b4b4b;
    background: -webkit-linear-gradient(to right, #4b4b4b);  
    background: linear-gradient(to right, #4b4b4b, #000000);
    padding: .6rem .5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
    animation: moveBaner 1s 0.9s forwards;
}

}
